.whatPaymentMethods {
  width: 189.6px;
  position: relative;
  line-height: 130%;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.buttonIcon {
  width: 25px;
  position: relative;
  height: 25px;
}
.whatPaymentMethodsDoesOsamParent {
  width: 277px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: var(--paragraph-body-size);
  color: var(--color-dimgray-200);
  font-family: var(--font-inter);
}
